.cart-container {
    padding: 0 0 8rem 0;
}

.ctable-container {
    border: 0.8px solid var(--primary-color);
    margin: 1rem 5rem;
    display: flex;
    gap: 10rem;
    font-size: 0.9rem;
    padding: 1rem 4rem;
    justify-content: center;
}

.ctable-item {
    display: grid;
}

.ctable-item p {
    font-size: 1.2rem;
}


.img-cart {
    width: 5.5rem;
}


.total-container {
    display: grid;
    justify-content: end;
    margin: 1rem 5rem;
}

.cart-total {
    font-size: 1.3rem;
    text-align: end;
}

.modal-container {
    margin: 2rem;
    text-align: center;
}

.modal-container h2 {
    text-align: center;
    margin: 0.3rem;
}

.modal-container p {
    text-align: center;
    margin: 0.4rem;
}

.input-cart {
    font-size: 1rem;
    margin: 0.3rem;
    padding: 0.3rem;
    letter-spacing: 0.02rem;
    width: 100%;
}