.container {
    padding: 0 5rem 5rem 5rem;
}

.title-container {
    padding-top: 5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3rem;
}