.items-left {
    display: grid;
    width: 100%;
    justify-items: center;
}

.description-detail {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.price-detail {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.cart-item-detail {
    display: grid;
    justify-items: start;
}