.text-contact {
    text-align: center;
    font-size: 1.1rem;
}

.form {
    margin: 1rem 12rem 5rem 12rem;
    display: grid;
    justify-items: center;
}

.form-input {
    font-size: 1rem;
    margin: 0.3rem;
    padding: 0.3rem;
    letter-spacing: 0.02rem;
    width: 100%;
    font-family: var(--font-1);
}

.send {
    text-align: center;
}

.input-error {
    color: red;
}

@media screen and (max-width: 1100px) {

.form {
    margin: 1rem 3rem 2rem 3rem;
    display: grid;
    justify-items: center;
}
}