.about-container {
    padding: 0 14rem 5rem 14rem;
}

.text-about {
    text-align: start;
    font-size: 1.1rem;
}

.text-about span {
    font-weight: bold;
    display: block;
    font-size: 1.2rem;
    text-align: center;
}


@media screen and (max-width: 950px) {
.about-container {
    padding: 2rem 4rem;
}
}