.card-item {
    text-align: center;
    border: 1px solid var(--primary-color);
    margin: 2rem 0;
    padding: 2rem 0;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    line-height: 1.3rem;
}

.img-item {
    width: 80%;
}

.title-item {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.category-item {
    text-transform: capitalize;
    font-size: 1rem;
}

@media screen and (max-width: 950px) {
    .img-item {
        width: 40%;
    }
}