.cart-widget {
    display: grid;
    justify-items: center;
}

.cart-icon {
    cursor: pointer;
    color: var(--primary-color);
    margin: 0 0.5rem;
}

.cart-icon:hover {
    color: var(--secondary-color);
}
