
.cart-icon {
    cursor: pointer;
    color: var(--primary-color);
    margin: 0 0.5rem;
}

.cart-icon:hover {
    color: var(--secondary-color);
}

.cart-widget-container {
    padding: 0.5rem;
    text-align: center;
}

.cart-widget-title {
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
}

.cart-widget-p {
    padding: 1rem;
    text-align: center;
}

.cw {
    text-align: center;
    justify-content: center;
}