header nav {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 1rem 4rem;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    font-size: 1.8rem;
}

ul li {
    list-style: none;
}

li .btn-nav {
    text-transform: capitalize;
    color: var(--primary-color);
    font-size: 1.1rem;
    font-family: var(--font-1);
}

