.footer {
    padding: 3rem;
    background-color: var(--black);
    text-align: center;
}

.footer-p {
    color: var(--white);
    text-align: center;
}

.footer-p a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}

a .footer-icon {
    color: var(--white);
    text-align: center;
    font-size: 2rem;
    margin: 0.8rem 0.3rem 0 0.3rem;
    cursor: pointer;
}
