:root {
  --font-1: 'Poppins', sans-serif;
  --white: #FFF;
  --black: #000;
  --primary-color: #262626;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--font-1);
  color: var(--primary-color);
}