:root {
  --font-1: 'Poppins', sans-serif;
  --white: #FFF;
  --black: #000;
  --primary-color: #262626;
  --secondary-color: #C59191;
  --tertiary-color: #E1C7C7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--font-1);
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

.title-detail {
  font-size: 1.8rem;
  margin: 1rem 0;
  font-family: var(--font-1);
  letter-spacing: 0.15rem;
}

.title-container {
  font-size: 1.8rem;
  padding: 3rem 0 1rem 0;
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
}

.btn-primary {
  padding: 0.4rem 2rem;
  background-color: var(--tertiary-color);
  border: 0;
  font-family: var(--font-1);
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}